.jumbotron{
	background-color: navy;
	color: white;
}

.btn {
	background-color: navy;
	color:white;
}
footer {
	padding: 10px 10px 0 10px;
	background-color: lightblue;
	margin-bottom: 0px;
	margin-top: 150px;
}

.card-clientes{
	flex: 1 150px;
	padding: 5px 10px 5px 10px;
	height: 100%
	
}

.btn-reserva{
	width: 100%
	
}